<!--/********************************************************************************* 

WEB322 – Assignment 3
I declare that this assignment is my own work in accordance with Seneca
Academic Policy.  No part of this assignment has been copied manually or 
electronically from any other source (including 3rd party web sites) or 
distributed to other students. I acknoledge that violation of this policy
to any degree results in a ZERO for this assignment and possible failure of
the course. 

Name: Max Kogan
Student ID: 116798232  
Date:  12/05/2024
Cyclic Web App URL:  
GitHub Repository URL:  https://github.com/M-KGN/web322_app.git

********************************************************************************/-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/main.css" />

        <title>WEB322_App - Assignment 3</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">

                <div class="col-2"></div>
                
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <a class="navbar-brand" href="#">WEB322_App - Maxs Shop</a>

                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Shop">Shop</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Items">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Categories">Categories</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/items/add">Add Item</a>
                        </li>
                    </ul>
                </div>
               
            </div>
           
        </nav>
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>About</h2>
                    <p>my name is max kogan, and this is my Shop! C:</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>Coming Soon</h2>
                        <p>
                            Welcome to my shop! We specialize in providing top-notch products for you guys!. More updates coming in the future so stay tuned.
                        </p>
                       
                    </article>
                </section>
            </div>
        </div>

       
    </body>
</html>